<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% assign is_en = page.lang == 'en' or page.url contains '/en/' %}
    {% if is_en %}
    {% capture sidebar_about %}{% include about/sidebar-en.md %}{% endcapture %}
    {% else %}
    {% capture sidebar_about %}{% include about/sidebar.md %}{% endcapture %}
    {% endif %}
    {{ sidebar_about | markdownify }}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>
